body{
    font-family: poppins;
}

.home-outer-div{
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    padding: 0 90px 0 240px;
    
}
.left-heading{
font-size: 60px;
margin-top: 80px;
text-align: center;
line-height: 70px;

}

.left-text{
    color: #2A2B39;
    margin: 50px;
font-size: 18px;
text-align: center;
}

.color-circles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.left-view-button{
    color: black;
    border: none;
border-bottom: 4px solid black;
font-size: 18px;
margin-left: 30px;
letter-spacing: 3px;
}
.left-view-button:hover{
  opacity: 0.5;

}

/* --------------------------------------right div home page */
.home-right-div img{
     height: 550px;
     width: 660px;
}


/* ----------------homepage Bottom ul */
.homepage-bottom-ul{
    display:flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    cursor: pointer;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    background-color: #F7F7F7;
}
.homepage-bottom-ul li{
    text-align: center;
    padding: 10px 90px;
    text-decoration: none;

}

.homepage-bottom-ul>:first-child{
    color: #0089F7;
}


.homepage-bottom-ul li:hover{
    color:#0089F7;
}


/* -------------------------------Cardpage  */

.CardComponent{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 3rem 0 8rem 0;
    margin: 0 160px;
}


