.product-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #161922;
    font-weight: 500;
    margin-bottom: 35px;
}

.card-main-div{
display: flex;
justify-content: center;
margin: 0 120px;
flex-direction: column;
}
.card-top-div{
    display: flex;
    gap: 20px;
    margin-bottom:15px;
}
.card-bottom-div{
    display: flex;
    gap: 20px;
}
/* --------------------------------------------------------------CARD-4 */

.card-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white ;
    width: 482px;
    border-radius: 12px;
}

.card-4 .card4-heading{
    font-size: 30px;
}
.card-4 .card4-title{
    font-size: 15px;
}
.outer-time-div{
    display: flex;
    padding: 39px 0 70px 0;
}

.number-days{
    font-size: 60px;
    color: #0089F7;
}

.hour-div{
    margin: 0 54px;
}

.time-title{
    font-size: 22px;

}